registry=http://wats-repob.devlab.ibm.com
@request:registry=https://registry.npmjs.org/
@types:registry=https://registry.npmjs.org/
@angular:registry=https://registry.npmjs.org/
@ngtools:registry=https://registry.npmjs.org/
@ng-bootstrap:registry=https://registry.npmjs.org/
@angular-devkit:registry=https://registry.npmjs.org/
@schematics:registry=https://registry.npmjs.org/
@ngx-translate:registry=https://registry.npmjs.org/