<div *ngIf="products.length > 0" class="price-range">
	<h2>Price Range</h2>
	<div class="well text-center">
		<div *ngIf="isRangeSet()" class="clear">
			<a (click)="clear()">
				<span class="glyphicon glyphicon-remove">
				</span>
				Clear
			</a>
		</div>
		<form class="form-inline" [formGroup]="priceRangeForm" novalidate>
			<div class="form-group">
				<label for="minPrice">$</label>
				<input type="text" id="minPrice" class="form-control" formControlName="min">
			</div>
			<div class="form-group">
				<label for="maxPrice">to $</label>
				<input id="maxPrice" type="text" class="form-control" formControlName="max">
			</div>


			<input type="button" class="go" (click)="go()" formControlName="submit" value="go"/>
		</form>
	</div>
</div>