@import '../../commerce/variables';

.breadcrumbs {
    margin: 0;
}

.breadcrumbs .breadcrumb {
    margin-left: 0;
}

.breadcrumbs li {
    font-size: .9rem;
    color: inherit;
    text-transform: none;
	color: #999;
}

.breadcrumbs li:not(:last-child)::after {
	content: "";
	position: inherit;
    margin: 0;
}

.checkout-options {
  margin-bottom: 50px;
}

.checkout-options .container{
  h2 {
    background: none repeat scroll 0 0 $brand-color-secondary;
    color: $base-text-color;
    padding: 10px 25px;
    font-size: 20px;
    margin-bottom: 35px;
  }

  .registered-checkout {
    float: right;
  }
}

#do_action {
    margin-bottom: 0;
}

tbody tr:nth-child(even) {
	background-color: transparent;
}

.table.table-condensed tr:last-child {
    border-bottom: 0;
}

tbody {
	border: none;
}

.cart_quantity_input {
	width: auto;
	margin: 0;
    padding: 0;
	color: #696763;
	height: 28px;
}

.cart_quantity_button a {
	margin: 0;
    padding: 0;
	border: none;
}
