<footer id="footer" style="margin-top: 50px;"><!--Footer-->

	<div class="footer-top">
		<div class="container">
			<div class="row">
				<div class="col-sm-2">
					<div class="companyinfo">
						<h2>{{getElement(SITE_TITLE).value}}</h2>
						<p *ngIf="isElementAvailable(SITE_DESCRIPTION)">{{getElement(SITE_DESCRIPTION).value}}</p>
					</div>
				</div>
				<div class="col-sm-7">
					<div class="col-sm-3">
						<div class="video-gallery text-center">
							<a href="https://www.youtube.com/" target="_blank">
								<div class="iframe-img">
									<img [src]="iframe1Img" alt="one">
								</div>
								<div class="overlay-icon">
									<i class="fa fa-play-circle-o"></i>
								</div>
							</a>
							<p>Circle of Shirts</p>
							<h2>2 SEP 2014</h2>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="video-gallery text-center">
							<a href="https://www.youtube.com/" target="_blank">
								<div class="iframe-img">
									<img [src]="iframe2Img" alt="two">
								</div>
								<div class="overlay-icon">
									<i class="fa fa-play-circle-o"></i>
								</div>
							</a>
							<p>Circle of Hands</p>
							<h2>30 OCT 2014</h2>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="video-gallery text-center">
							<a href="https://www.youtube.com/" target="_blank">
								<div class="iframe-img">
									<img [src]="iframe3Img" alt="three">
								</div>
								<div class="overlay-icon">
									<i class="fa fa-play-circle-o"></i>
								</div>
							</a>
							<p>Circle of Suits</p>
							<h2>18 NOV 2017</h2>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="video-gallery text-center">
							<a href="https://www.youtube.com/" target="_blank">
								<div class="iframe-img">
									<img [src]="iframe4Img" alt="four">
								</div>
								<div class="overlay-icon">
									<i class="fa fa-play-circle-o"></i>
								</div>
							</a>
							<p>Circle of Sales</p>
							<h2>24 DEC 2017</h2>
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="address">
						<a *ngIf="isElementAvailable(BG_IMAGE)" href routerLink="/eshopper"><img src="{{getImgURL(BG_IMAGE)}}" alt=""></a>
						<p *ngIf="isElementAvailable(ADDRESS)">{{getElement(ADDRESS).value}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
		
	<div class="footer-widget">
		<div class="container">
			<div class="row">
				<div class="col-sm-2">
					<div class="single-widget">
						<h2>Service</h2>
						<ul class="nav nav-pills nav-stacked">
							<li><a href routerLink="/about-us/online-help">Online Help</a></li>
							<li><a href routerLink="/contact">Contact Us</a></li>
							<li><a href routerLink="/about-us/faqs">FAQs</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="single-widget">
						<h2>Quick Shop</h2>
						<ul class="nav nav-pills nav-stacked">
							<li><a href [routerLink]="['/shop/products']" [queryParams]="{path:'Apparel/Men'}">Men's</a></li>
							<li><a href [routerLink]="['/shop/products']" [queryParams]="{path:'Apparel/Women'}">Women's</a></li>
							<li><a href [routerLink]="['/shop/products']" [queryParams]="{path:'Electronics/Computers-Tablets'}">Tablets</a></li>
							<li><a href [routerLink]="['/shop/products']" [queryParams]="{path:'Home-Furnishings/Furniture'}">Furniture</a></li>
							<li><a href [routerLink]="['/shop/products']" [queryParams]="{path:'Grocery'}">Food</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="single-widget">
						<h2>Policies</h2>
						<ul class="nav nav-pills nav-stacked">
							<li><a href routerLink="/about-us/terms-of-use">Terms of Use</a></li>
							<li><a href routerLink="/about-us/privacy-policy">Privacy Policy</a></li>
							<li><a href routerLink="/shop/refund-policy">Refund Policy</a></li>
							<li><a href routerLink="/about-us/corporate-responsibility">Corporate Responsibility</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="single-widget">
						<h2>About Shopper</h2>
						<ul class="nav nav-pills nav-stacked">
							<li><a href routerLink="/about-us/company-information">Company Information</a></li>
							<li><a href routerLink="/about-us/careers">Careers</a></li>
							<li><a href routerLink="/contact">Store Location</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-3 col-sm-offset-1">
					<div class="single-widget">
						<h2>Newsletter</h2>
						<form action="#" class="searchform">
							<input type="text" style="display:inline" placeholder="Your email address">
							<button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
							<p>Get the most recent updates from <br>our site and be updated your self...</p>
						</form>
					</div>
				</div>				
			</div>
		</div>
	</div>
		
	<div class="footer-bottom">
		<div class="container">
			<div class="row">
				<p class="pull-left">Copyright &copy; {{currentYear}} {{getElement(COPYRIGHT).value}} All rights reserved.</p>
				<p class="pull-right">Designed by <span><a target="_blank" href="http://www.themeum.com">Themeum</a></span></p>
			</div>
		</div>
	</div>
		
</footer>
