<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<div class="left-sidebar">
					<h2>Category</h2>
					<wc-category></wc-category>
					<div *ngIf="!productID">
						<wc-brands></wc-brands>
						<wc-price-range></wc-price-range>
					</div>
					<div *ngIf="ad && ad.url" class="shipping text-center"><!--shipping-->
						<img [src]="renderingContext.context.hub.deliveryUrl.origin + ad.url" [alt]="ad.altText">
					</div><!--/shipping-->
				</div>
			</div>
			<div class="col-sm-9 padding-right">
				<div *ngIf="productID">
					<product-details [productID]="productID"></product-details>
				</div>
				<div *ngIf="!productID" class="features_items"><!--features_items-->
					<h2 class="title text-center">Items</h2>
					<item-container *ngFor="let item of filteredItems" [item]="item"></item-container>
					<div *ngIf="filteredItems.length === 0">
						Pick a category to begin
					</div>
				</div><!--features_items-->
			</div>
		</div>
	</div>
</section>
